@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Outfit:wght@100..900&display=swap"); */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* color: var(--foreground); */
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* @theme {
  --font-outfit: "Outfit";
  --font-kantumruy-pro: "Kantumruy Pro";
} */

 /* Override a built-in style*/
#interestsSelector .css-13cymwt-control {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: #3B82F6;
  border-radius: 8px;
  padding: 7px;
  width: 100%;
}
